<ion-header>
  <ion-toolbar>
    <ion-title>First App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">
    <strong class="text-color">Welcome to IONIC App</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>

  <div class="form-container">
    <ion-item>
      <ion-input
        label="Enter your message"
        labelPlacement="floating"
        placeholder="Type something..."
        [(ngModel)]="message"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="showAlert()">
      Show Message
    </ion-button>
  </div>
</ion-content>
